<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">New Invoice</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

</ion-content>




<!--* use this if lot of data is loading to show loading bubble -->
<!-- <ion-infinite-scroll>
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data…">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
