// div.static {
//   position: fixed;
//   border: 3px solid #73AD21;
// }
.fixed-header{
  background-color:  aliceblue;
}
ion-card-content {
margin: 0 !important;
padding: 0 !important;
}

.border {
   border: 1px solid black ;
}

.ion-content {
  user-select: none !important;
}
