<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Invoice</ion-title>
  </ion-toolbar>
</ion-header>

<div class="fixed-header"></div>

<ion-content>
  <!-- * Customer Information Card -->
  <ion-card color="secondary" class="border-white">
    <ion-card-content>
      <ion-grid>
        <!-- 1 row -->
        <ion-row>
          <ion-col>
            <ion-text><h1>{{readOnlyInvoice.customerFullName}}</h1></ion-text>
          </ion-col>
          <ion-col offset-md="3" offset-sm="5" offset-lg="3" align="right">
            <ion-text><h2>{{readOnlyInvoice.createdDate | date}}</h2></ion-text>
          </ion-col>
        </ion-row>
        <!-- 2nd row -->
        <ion-row>
          <ion-col>
            <ion-text> <h4>Invoice #: {{readOnlyInvoice.invoiceId}}</h4></ion-text>
          </ion-col>
          <ion-col offset-xs="1">
            <ion-text  align="right"><h2>₹ {{readOnlyInvoice.totalPrice}}</h2></ion-text>
          </ion-col>
        </ion-row>
        <!-- 3rd row -->
        <ion-card>
          <ion-item lines="none">
            <ion-list >
              <ion-text >You have <strong>{{readOnlyInvoice.totalItems}}</strong> Items in Invoice</ion-text>
            </ion-list>
          </ion-item>
        </ion-card>
      </ion-grid>
    </ion-card-content>
  </ion-card>

   <!-- *Item section -->
  <div>
    <!-- *FIRST ITEM CARD -->
    <ion-card
      *ngFor="let item of itemsInInvoice"
      class="border"
    >
      <ion-card-content class="item-margin">
        <ion-grid>
          <!-- 1 row -->
          <ion-row>
            <ion-col>
              <ion-text><h1>{{item.name}}</h1></ion-text>
            </ion-col>
            <ion-col align="right">
              <ion-text color="primary"
                ><h2 style="padding-right: 15px !important">
                  ₹ {{item.totalPrice}}
                </h2></ion-text
              >
            </ion-col>
          </ion-row>
          <!-- 2nd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h3>Quantity: {{item.quantity}}</h3></ion-text>
              <div style="clear: both">
                <h4 style="float: left">Price:</h4>
                <h4 style="float: left; color: #3880ff">
                  ₹ {{item.price}} per {{item.uom}}
                </h4>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
