<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div *ngIf="!flag">
      <ion-title class="ion-text-center">Update Item</ion-title>
    </div>
    <div *ngIf="flag">
      <ion-title class="ion-text-center">Add New Item</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size-md="8" offset-md="2" size-sm="12" size-xs="12">
          <!-- ?starting of the card -->
          <ion-card>
            <form [formGroup]="itemForm" (ngSubmit)="submit()">
              <ion-card-content>
                <!-- *item name -->
                <ion-item>
                  <ion-label position="floating"
                    >Item Name<ion-text color="danger">*</ion-text></ion-label
                  >
                  <ion-input
                    clear-input
                    type="text"
                    formControlName="name"
                    required
                  ></ion-input>
                </ion-item>
                <!-- *unit of measuring -->
                <ion-item>
                  <ion-label
                    >Unit of Measuring<ion-text color="danger"
                      >*</ion-text
                    ></ion-label
                  >

                  <ion-select interface="popover" formControlName="uom">
                    <ion-select-option   *ngFor="let uom of unitOfMeasuring" >{{uom}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <!-- *price -->
                <ion-item>
                  <ion-label position="floating"
                    >Price<ion-text color="danger">*</ion-text></ion-label
                  >
                  <ion-input type="number" formControlName="price"></ion-input>
                </ion-item>
              </ion-card-content>
              <ion-card-content>
                <!--? grid section -->
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-button
                        expand="block"
                        type="submit"
                        [disabled]="!itemForm.valid"
                      >
                        <ion-icon  *ngIf="!flag" slot="end" name="add-circle-outline"></ion-icon>
                        <ion-icon *ngIf="flag" slot="end" name="add-outline"></ion-icon>
                       <ion-text *ngIf="!flag">Update Item</ion-text>
                       <ion-text *ngIf="flag">Add Item</ion-text>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </form>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
