<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        color="primary"
        (click)="clickStock()"
        [routerLink]="['/stocks']"
      >
        Stocks
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/add-invoice']">
        <ion-icon
          color="primary"
          slot="icon-only"
          name="add-sharp"
          size="large"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Invoices(6)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    placeholder="search by customer name or invoice no."
  ></ion-searchbar>
  <div>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <!-- 1 row -->
          <ion-row>
            <ion-col>
              <ion-text><h1>John Doe</h1></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="danger"><h2>February 25, 2021</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 2nd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>10 Items</h4></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="secondary"><h2>₹ 1000</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 3rd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>Invoice #: 1000</h4></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <!-- 1 row -->
          <ion-row>
            <ion-col>
              <ion-text><h1>Sanikumar</h1></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="danger"><h2>February 25, 2021</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 2nd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>10 Items</h4></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="secondary"><h2>₹ 1000</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 3rd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>Invoice #: 1000</h4></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <!-- 1 row -->
          <ion-row>
            <ion-col>
              <ion-text><h1>Soumya</h1></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="danger"><h2>February 25, 2021</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 2nd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>10 Items</h4></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="secondary"><h2>₹ 1000</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 3rd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>Invoice #: 1000</h4></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <!-- 1 row -->
          <ion-row>
            <ion-col>
              <ion-text><h1>Girish</h1></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="danger"><h2>February 25, 2021</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 2nd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>10 Items</h4></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="secondary"><h2>₹ 1000</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 3rd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>Invoice #: 1000</h4></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <!-- 1 row -->
          <ion-row>
            <ion-col>
              <ion-text><h1>Arvind</h1></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="danger"><h2>February 25, 2021</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 2nd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>10 Items</h4></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="secondary"><h2>₹ 1000</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 3rd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>Invoice #: 1000</h4></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <!-- 1 row -->
          <ion-row>
            <ion-col>
              <ion-text><h1>Deepak</h1></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="danger"><h2>February 25, 2021</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 2nd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>10 Items</h4></ion-text>
            </ion-col>
            <ion-col offset-xs="1">
              <ion-text color="secondary"><h2>₹ 1000</h2></ion-text>
            </ion-col>
          </ion-row>
          <!-- 3rd row -->
          <ion-row>
            <ion-col>
              <ion-text> <h4>Invoice #: 1000</h4></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
