<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> stocks (4)</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./','add-item']">
        <ion-icon
          color="primary"
          slot="icon-only"
          name="add-sharp"
          size="large"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- *stocks page -->

<ion-content [fullscreen]="true">
  <div>
    <ion-card  *ngFor="let item of items ; let id = index" [routerLink]="['./','update-item',id]">
      <ion-card-content>
        <ion-grid>
          <!-- 1 row -->
          <ion-row>
            <ion-col>
              <ion-text><h1>{{item.name}}</h1></ion-text>
            </ion-col>
          </ion-row>
          <!-- 2nd row -->
          <ion-row>
            <ion-col>
              <ion-text color="secondary"> <h2>₹ {{item.price}} per {{item.uom}}</h2></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
